<?xml version='1.0' encoding='UTF-8'?>
<Settings>
  <manager freeze="1"/>
  <delay>100</delay>
  <buttonDelay>100</buttonDelay>
  <translate>ru.qm</translate>
  <kernel_ip>127.0.0.1</kernel_ip>
  <kernel_port>7755</kernel_port>
  <rotateAxis>1</rotateAxis>
  <parametersTimeout>1000</parametersTimeout>
  <virtual_keyboard>0</virtual_keyboard>
  <directionViewType>1</directionViewType>
  <style>
	QWidget { font-size: 11pt; }
	QTabBar::tab { padding: 12px; }
	CXTitleWindow QLabel, CXTitleWindow QAbstractButton { border: 1px solid gray; min-width: 160px; }
	AXBaseWindow, QDialog { background-color: silver; }
	CXPathView { font-size: 10pt; }
	CXProcessingParametersWindow QAbstractButton, CXEditPathFile QAbstractButton, CXPathWindow QAbstractButton, CXChannelEdit QAbstractButton, CXDeviceEdit QAbstractButton { min-height: 30px; padding: 15px; }
	CXFilesList QAbstractButton { padding: 20px 35px; }
	CXFilesList QLineEdit, CXLazerDirectionWindow QLineEdit, CXChannelEdit QLineEdit, CXDeviceEdit QLineEdit { font-size: 16pt; padding: 5px; }
	CXGroupPanel QAbstractButton { min-width: 55px; min-height: 55px; }
	CXIniFileList QAbstractButton { padding: 15px; }
	CXTurnDialog * { font-size: 14pt; }
	CXTurnDialog QAbstractButton { min-width: 75px; min-height: 75px; }
	CXTurnDialog #mTurnSettings QAbstractButton { min-width: 75px; }
	CXLazerVelocity QAbstractButton { font-size: 14pt; min-height: 75px; min-width: 75px; }
	CXLazerVelocity QLabel { font-size: 16pt; min-width: 75px; }
	CXLazerSettings QAbstractButton { min-width: 75px; min-height: 75px; }
	CXLazerSettings #mButtonWidget QAbstractButton { min-height: 65px; }
	CXLazerSettings QLabel { font-size: 12pt; min-width: 50px; }
	CXLazerDirectionWindow QAbstractButton { min-height: 75px; padding: 0px; }
	CXLazerDirectionWindow #xyButton, CXLazerDirectionWindow #plusButton, CXLazerDirectionWindow #minusButton { min-height: 50px; min-width: 60px; font-size: 14pt; }
	CXLazerDirectionWindow #mFLabel { padding: 5px 15px 5px 37px; }
	CXLazerDirectionWindow QLabel { font-size: 14pt; }
	CXLazerDirectionDialog QAbstractButton { min-width: 100px; min-height: 75px; font-size: 14pt; }
	CXExitDialog QAbstractButton { padding: 30px 60px; }
	QToolBox QAbstractButton { min-height: 40px; }
	CXVirtualKeyboard CXTouchButton { min-width: 50px; min-height: 40px; }
	CXUtilsWindow QAbstractButton { min-width: 200px; min-height: 65px; }
	CXUtilsWindow QTreeView::item { min-height: 65px; }
	QScrollBar:horizontal { height: 40px; }
	QScrollBar:vertical { width: 40px; }
	QScrollBar::sub-line:vertical { height: 30px; }
  </style>
  <window_AXBaseWindow>AdnQywABAAAAAAH9AAAAKwAAA4IAAACHAAAB/QAAACsAAAOCAAAAhwAAAAAAAA==</window_AXBaseWindow>
  <window_CXParametersWindow visible="1">AdnQywABAAAAAAA+AAAAKwAABOQAAAJ5AAAAPgAAACsAAATkAAACeQAAAAAAAA==</window_CXParametersWindow>
  <window_CXCompileEdit visible="1">AdnQywABAAAAAAA+AAACAAAAAY8AAAKwAAAAPgAAAgAAAAGPAAACsAAAAAAAAA==</window_CXCompileEdit>
  <window_CXEditPathFile visible="1">AdnQywABAAAAAAGQAAAAKwAAAy8AAAKwAAABkAAAACsAAAMvAAACsAAAAAAAAA==</window_CXEditPathFile>
  <window_CXFilesList visible="1">AdnQywABAAAAAAA+AAAAKwAAAY8AAAH/AAAAPgAAACsAAAGPAAAB/wAAAAAAAA==</window_CXFilesList>
  <window_CXGroupPanel visible="1">AdnQywABAAAAAAA+AAACsQAABOQAAAL/AAAAPgAAArEAAATkAAAC/wAAAAAAAA==</window_CXGroupPanel>
  <window_CXGroupPanel1 visible="1">AdnQywABAAAAAAA+AAACegAABOQAAALcAAAAPgAAAnoAAATkAAAC3AAAAAAAAA==</window_CXGroupPanel1>
  <window_CXGroupPanel2 visible="1">AdnQywABAAAAAAA+AAACegAABOQAAALcAAAAPgAAAnoAAATkAAAC3AAAAAAAAA==</window_CXGroupPanel2>
  <window_CXGroupPanel3 visible="1">AdnQywABAAAAAAA+AAACsQAABOkAAAL/AAAAPgAAArEAAATpAAAC/wAAAAAAAA==</window_CXGroupPanel3>
  <window_CXIniFileEditor>AdnQywABAAAAAAGUAAAAKwAABOQAAAJ5AAABlAAAACsAAATkAAACeQAAAAAAAA==</window_CXIniFileEditor>
  <window_CXIniFileList>AdnQywABAAAAAAA+AAAAKwAAAZMAAAJ5AAAAPgAAACsAAAGTAAACeQAAAAAAAA==</window_CXIniFileList>
  <window_CXLazerDirectionWindow>AdnQywABAAAAAAMGAAAAKwAABOkAAAKwAAADBgAAACsAAATpAAACsAAAAAAAAA==</window_CXLazerDirectionWindow>
  <window_CXLazerSettings>AdnQywABAAAAAAA+AAAAKwAAAZUAAAKwAAAAPgAAACsAAAGVAAACsAAAAAAAAA==</window_CXLazerSettings>
  <window_CXPathWindow visible="1">AdnQywABAAAAAAMwAAAAKwAABOQAAAKwAAADMAAAACsAAATkAAACsAAAAAAAAA==</window_CXPathWindow>
  <window_CXPathWindow1 visible="1">AdnQywABAAAAAAIiAAAAiAAAA5EAAAKwAAACIgAAAIgAAAORAAACsAAAAAAAAA==</window_CXPathWindow1>
  <window_CXTitleWindow visible="1">AdnQywABAAAAAAA+AAAAAAAABOkAAAAqAAAAPgAAAAAAAATpAAAAKgAAAAAAAA==</window_CXTitleWindow>
  <window_CXVirtualKeyboard>AdnQywABAAAAAAA+AAAAEAAAAY8AAAI2AAAAPgAAABAAAAGPAAACNgAAAAAAAA==</window_CXVirtualKeyboard>
  <window_CXTurnDialog>AdnQywABAAAAAAAAAAAAKwAABOQAAAJ5AAAAAAAAACsAAATkAAACeQAAAAAAAA==</window_CXTurnDialog>
  <window_CXUtilsWindow>AdnQywABAAAAAAAAAAAAKwAABOQAAAJ5AAAAAAAAACsAAATkAAACeQAAAAAAAA==</window_CXUtilsWindow>
  <window_CXFilesList1>AdnQywABAAAAAAGiAAAAKwAAA14AAAJ5AAABogAAACsAAANeAAACeQAAAAAAAA==</window_CXFilesList1>
  <window_CXTextParameters visible="1">AdnQywABAAAAAAIiAAAAKwAAA5EAAACHAAACIgAAACsAAAORAAAAhwAAAAAAAA==</window_CXTextParameters>
  <window_CXGroupPanel4 visible="1">AdnQywABAAAAAAA+AAACsQAABOQAAAL/AAAAPgAAArEAAATkAAAC/wAAAAAAAA==</window_CXGroupPanel4>
  <window_CXDeviceView visible="1">AdnQywABAAAAAAA+AAAAKwAAAWYAAAKwAAAAPgAAACsAAAFmAAACsAAAAAAAAA==</window_CXDeviceView>
  <window_CXDeviceView1 visible="1">AdnQywABAAAAAAKQAAAAKwAAA7gAAAKwAAACkAAAACsAAAO4AAACsAAAAAAAAA==</window_CXDeviceView1>
  <window_CXDeviceView2 visible="1">AdnQywABAAAAAAO5AAAAKwAABOQAAAKwAAADuQAAACsAAATkAAACsAAAAAAAAA==</window_CXDeviceView2>
  <window_CXDeviceView3>AdnQywABAAAAAAFnAAAAKwAAAo8AAAKwAAABZwAAACsAAAKPAAACsAAAAAAAAA==</window_CXDeviceView3>
  <window_CXOperDirectionWindow visible="1">AdnQywABAAAAAAA+AAAAKwAAAiEAAAKwAAAAPgAAACsAAAIhAAACsAAAAAAAAA==</window_CXOperDirectionWindow>
  <window_CXOperTechnology visible="1">AdnQywABAAAAAAOSAAAAKwAABOkAAAKwAAADkgAAACsAAATpAAACsAAAAAAAAA==</window_CXOperTechnology>
</Settings>
