<?xml version='1.0' encoding='UTF-8'?>
<Settings>
  <manager freeze="1"/>
  <delay>100</delay>
  <buttonDelay>100</buttonDelay>
  <buttonDelayLong>2000</buttonDelayLong>
  <delayXYDir>10</delayXYDir>
  <translate>ru.qm</translate>
  <kernel_ip>192.168.0.201</kernel_ip>
  <kernel_port>50001</kernel_port>
  <ftp>ftp</ftp>
  <rotateAxis>0</rotateAxis>
  <parametersTimeout>1000</parametersTimeout>
  <ftpTimeout>10000</ftpTimeout>
  <virtual_keyboard>0</virtual_keyboard>
  <directionViewType>1</directionViewType>
  <ParamGroups>
    <Load descr="Загрузка" value="0"/>
    <Moving descr="Движение" value="1"/>
    <Common descr="Общие" value="2"/>
    <Advance descr="Расширенные" value="3"/>
    <Options descr="Опции" value="4"/>
  </ParamGroups>
  <style>
    <!-- Common style sheets  -->
	QWidget { font-size: 11pt; }
<!-- 	QToolBox QAbstractButton { min-height: 40px; } -->
	CXVirtualKeyboard CXTouchButton { min-width: 45px; min-height: 40px; }
	QTabBar::tab { padding: 12px; }
	QScrollBar:horizontal { height: 40px; }
	QScrollBar:vertical { width: 40px; }
	QScrollBar::sub-line:vertical { height: 30px; }
	QLabel { font-size: 12pt; padding: 5px; }
	QLineEdit { font-size: 14pt; padding: 5px; }
	AXBaseWindow, QDialog { background-color: lightgray; font-size: 12pt; padding: 5px 5px; }
	QAbstractButton { border: 2px solid gray; border-radius: 4px; font-size: 12pt; padding: 5px 5px; }
	QAbstractButton:pressed { background-color: darkgray }
	QAbstractButton:checked { background-color: darkgray }
	
<!--  Title box -->
	CXTitleWindow QLabel, CXTitleWindow QAbstractButton {<!-- border: 2px solid gray;--> min-width: 35px; }
<!-- Mode panel -->
	CXGroupPanel QAbstractButton { min-width: 35px; min-height: 55px; }
<!-- CP mode	 -->
    <!-- 	CXPathView { font-size: 10pt; } -->
	CXPathWindow QAbstractButton { min-width: 30px; min-height: 20px; <!--padding: 5px;--> }
	
	CXEditPathFile QAbstractButton { min-width: 30px;min-height: 20px;<!-- padding: 5px;--> }
<!-- 	CXFilesList QAbstractButton { padding: 10px 15px; } -->
    <!-- 	CXFilesList QLineEdit, CXOperDirectionWindow QLineEdit, CXChannelEdit QLineEdit, CXDeviceEdit QLineEdit { font-size: 14pt; padding: 5px; } -->
    <!-- Ini file list	 -->
    <!-- 	CXIniFileList QAbstractButton { padding: 15px; } -->
    <!-- turn dialog	 -->
    <!-- 	CXTurnDialog * { font-size: 12pt; } -->
	CXTurnDialog QAbstractButton { min-width: 35px; min-height: 35px; }
<!-- 	CXTurnDialog #mTurnSettings QAbstractButton { min-width: 35px; } -->
    <!-- Oper mode	 -->
	CXOperVelocity QAbstractButton { <!--font-size: 12pt; -->min-height: 45px; min-width: 40px; }
	CXOperVelocity QLabel { <!--font-size: 14pt;--> min-width: 35px; }
	CXOperTechnology QAbstractButton {<!-- font-size: 12pt;--> min-height: 45px; min-width: 40px; }
<!-- 	CXOperTechnology #mButtonWidget QAbstractButton { min-height: 65px; } -->
	CXOperTechnology QLabel { <!--font-size: 14pt; --> min-width: 35px; }
	CXOperDirectionWindow QAbstractButton {<!--font-size: 12pt;--> min-height: 45px; min-width: 40px; }
<!-- 	CXOperDirectionWindow #xyButton, CXOperDirectionWindow #plusButton, CXOperDirectionWindow #minusButton { min-height: 45px; min-width: 45px; font-size: 12pt; } -->
    <!-- 	CXOperDirectionWindow #mFLabel { padding: 5px 15px 5px 15px;  min-height: 35px; min-width: 35px; font-size: 12pt; } -->
    <!-- 	CXOperDirectionWindow QLabel { font-size: 12pt; } -->
    <!--	#mFPlusButton, #mFMinusButton { border: 1px dotted black; min-width: 80px; max-width: 120px;}
	#mFPlusButton:pressed, #mFMinusButton:pressed { background-color: "#00ff00"; }-->
	#mTechnology { padding: 1px 1px; }
	#frameSpacerWidget { min-width: 60px; }
	#mVelocityView {  min-width: 80px; max-width: 120px; }	
<!--	CXOperDirectionWindow QAbstractButton { min-width: 35px; min-height: 35px; font-size: 12pt; }-->
    <!-- Exit dialog -->
    <!-- 	CXExitDialog QAbstractButton { padding: 15px 15px; } -->
    <!-- Utils dialog -->
	CXUtilsWindow QAbstractButton { min-width: 35px; min-height: 35px; }
	CXUtilsWindow QTreeView::item { min-height: 35px; }
	CXParamUi CXTouchButton  { min-width: 35px; min-height: 35px; } 
	#mValuesLayout  { font-size: 12pt; }
<!--  -->
	CXProcessingParametersWindow QAbstractButton, CXChannelEdit QAbstractButton, CXDeviceEdit QAbstractButton { min-height: 30px;<!-- padding: 15px; -->}
  </style>
  <window_AXBaseWindow>AdnQywABAAAAAAH9AAAAKwAAA4IAAACHAAAB/QAAACsAAAOCAAAAhwAAAAAAAA==</window_AXBaseWindow>
  <window_CXParametersWindow visible="1">AdnQywABAAAAAAAxAAAAWwAABDAAAAKwAAAAMQAAAFsAAAQwAAACsAAAAAAAAA==</window_CXParametersWindow>
  <window_CXCompileEdit visible="1">AdnQywABAAAAAAAxAAACAAAAAlcAAAKyAAAAMQAAAgAAAAJXAAACsgAAAAAAAA==</window_CXCompileEdit>
  <window_CXEditPathFile visible="1">AdnQywABAAAAAAE1AAAAWwAAAqoAAAKyAAABNQAAAFsAAAKqAAACsgAAAAAAAA==</window_CXEditPathFile>
  <window_CXFilesList visible="1">AdnQywABAAAAAAAxAAAAWwAAATQAAAH/AAAAMQAAAFsAAAE0AAAB/wAAAAAAAA==</window_CXFilesList>
  <window_CXGroupPanel visible="1">AdnQywABAAAAAAAxAAACswAABDAAAAMHAAAAMQAAArMAAAQwAAADBwAAAAAAAA==</window_CXGroupPanel>
  <window_CXGroupPanel1 visible="1">AdnQywABAAAAAAAxAAACsQAABDAAAAMFAAAAMQAAArEAAAQwAAADBQAAAAAAAA==</window_CXGroupPanel1>
  <window_CXGroupPanel2 visible="1">AdnQywABAAAAAAAxAAACswAABDAAAAMHAAAAMQAAArMAAAQwAAADBwAAAAAAAA==</window_CXGroupPanel2>
  <window_CXGroupPanel3 visible="1">AdnQywABAAAAAAAxAAACswAABDAAAAMHAAAAMQAAArMAAAQwAAADBwAAAAAAAA==</window_CXGroupPanel3>
  <window_CXIniFileEditor>AdnQywABAAAAAAAAAAAAAAAABKEAAAIvAAAAAAAAAAAAAAShAAACLwAAAAAAAA==</window_CXIniFileEditor>
  <window_CXIniFileList>AdnQywABAAAAAAA+AAAAKwAAAZMAAAJ5AAAAPgAAACsAAAGTAAACeQAAAAAAAA==</window_CXIniFileList>
  <window_CXOperDirectionWindow visible="1">AdnQywABAAAAAAAxAAAAWwAAAZYAAAKyAAAAMQAAAFsAAAGWAAACsgAAAAAAAA==</window_CXOperDirectionWindow>
  <window_CXOperTechnology visible="1">AdnQywABAAAAAAMBAAAAWwAABDAAAAKyAAADAQAAAFsAAAQwAAACsgAAAAAAAA==</window_CXOperTechnology>
  <window_CXPathWindow visible="1">AdnQywABAAAAAAKrAAAAWwAABDAAAAKyAAACqwAAAFsAAAQwAAACsgAAAAAAAA==</window_CXPathWindow>
  <window_CXPathWindow1 visible="1">AdnQywABAAAAAAGTAAAAwQAAAwAAAAKzAAABkwAAAMEAAAMAAAACswAAAAAAAA==</window_CXPathWindow1>
  <window_CXTitleWindow visible="1">AdnQywABAAAAAAAxAAAAGAAABDAAAABaAAAAMQAAABgAAAQwAAAAWgAAAAAAAA==</window_CXTitleWindow>
  <window_CXTurnDialog visible="1">AdnQywABAAAAAAAxAAAAWwAAAqoAAAKyAAAAMQAAAFsAAAKqAAACsgAAAAAAAA==</window_CXTurnDialog>
  <window_CXUtilsWindow visible="1">AdnQywABAAAAAAFeAAAAQwAAAu4AAAKwAAABXgAAAEMAAALuAAACsAAAAAAAAA==</window_CXUtilsWindow>
  <window_CXFilesList1 visible="1">AdnQywABAAAAAAGiAAAAKwAAA14AAAJ5AAABogAAACsAAANeAAACeQAAAAAAAA==</window_CXFilesList1>
  <window_CXTextParameters visible="1">AdnQywABAAAAAAGTAAAAWwAAAwAAAAC/AAABkwAAAFsAAAMAAAAAvwAAAAAAAA==</window_CXTextParameters>
  <window_CXGroupPanel4 visible="1">AdnQywABAAAAAAAxAAACsQAABDAAAAMFAAAAMQAAArEAAAQwAAADBQAAAAAAAA==</window_CXGroupPanel4>
  <window_CXDeviceView visible="1">AdnQywABAAAAAAIQAAAAWwAAAv8AAAKyAAACEAAAAFsAAAL/AAACsgAAAAAAAA==</window_CXDeviceView>
  <window_CXDeviceView1 visible="1">AdnQywABAAAAAAAxAAAAWwAAASEAAAKyAAAAMQAAAFsAAAEhAAACsgAAAAAAAA==</window_CXDeviceView1>
  <window_CXDeviceView2 visible="1">AdnQywABAAAAAAEiAAAAWwAAAg8AAAKyAAABIgAAAFsAAAIPAAACsgAAAAAAAA==</window_CXDeviceView2>
  <window_CXDeviceView3 visible="1">AdnQywABAAAAAAEhAAABjQAAAg8AAAKyAAABIQAAAY0AAAIPAAACsgAAAAAAAA==</window_CXDeviceView3>
  <window_CXIniFileEditor1>AdnQywABAAAAAAAAAAAAAAAABKEAAAIvAAAAAAAAAAAAAAShAAACLwAAAAAAAA==</window_CXIniFileEditor1>
  <window_CXDeviceView4 visible="1">AdnQywABAAAAAAIQAAAAWwAAAuUAAAGMAAACEAAAAFsAAALlAAABjAAAAAAAAA==</window_CXDeviceView4>
  <window_CXDeviceView5 visible="1">AdnQywABAAAAAAIQAAABjQAAAuUAAAKyAAACEAAAAY0AAALlAAACsgAAAAAAAA==</window_CXDeviceView5>
  <window_CXDeviceView6 visible="1">AdnQywABAAAAAALmAAAAWwAABDAAAAEhAAAC5gAAAFsAAAQwAAABIQAAAAAAAA==</window_CXDeviceView6>
  <window_CXVirtualKeyboard visible="1">AdnQywABAAAAAAAxAAAAGAAAAUQAAALOAAAAMQAAABgAAAFEAAACzgAAAAAAAA==</window_CXVirtualKeyboard>
  <window_CXVirtualKeyboardNum visible="1">AdnQywABAAAAAAAxAAABRwAAAXAAAAIVAAAAMQAAAUcAAAFwAAACFQAAAAAAAA==</window_CXVirtualKeyboardNum>
  <window_CXVirtualKeyboardNum1 visible="1">AdnQywABAAAAAAGKAAABVwAAAvQAAAIbAAABigAAAVcAAAL0AAACGwAAAAAAAA==</window_CXVirtualKeyboardNum1>
  <window_CXVirtualKeyboardNum2 visible="1">AdnQywABAAAAAALZAAACCwAABEMAAALPAAAC2QAAAgsAAARDAAACzwAAAAAAAA==</window_CXVirtualKeyboardNum2>
  <window_CXDeviceView7 visible="1">AdnQywABAAAAAALmAAABIgAABDAAAAKyAAAC5gAAASIAAAQwAAACsgAAAAAAAA==</window_CXDeviceView7>
  <window_CXSupportsWindow visible="1">AdnQywABAAAAAAK7AAACcAAABP8AAAP/AAACuwAAAnAAAAT/AAAD/wAAAAAAAA==</window_CXSupportsWindow>
  <window_CXParamUi visible="1">AdnQywABAAAAAAAxAAAAWwAAA6UAAAMHAAAAMQAAAFsAAAOlAAADBwAAAAAAAA==</window_CXParamUi>
  <window_CXParamUi1 visible="1">AdnQywABAAAAAAAAAAAAAAAAAlcAAAGPAAAAAAAAAAAAAAJXAAABjwAAAAAAAA==</window_CXParamUi1>
  <window_CXParamUi2 visible="1">AdnQywABAAAAAAAAAAAAAAAAAlcAAAGPAAAAAAAAAAAAAAJXAAABjwAAAAAAAA==</window_CXParamUi2>
  <window_CXParamUi3 visible="1">AdnQywABAAAAAAAAAAAAAAAAAlcAAAGPAAAAAAAAAAAAAAJXAAABjwAAAAAAAA==</window_CXParamUi3>
  <ui-TechParams>
    <MPlasma>
      <db file="db/MPlasma.db"/>
      <!-- Порядок имеет значения, на форме отражаются в том же порядке -->
      <Caption descr="Режим реза: Плазма"/>
      <CuttingFeed descr="Скорость реза"/>
      <Kerf descr="Ширина реза"/>
      <MinThickness descr="Толщина"/>
      <!-- MaxThickness descr="Макс толщина"/ -->
      <!-- Power descr="Ток дуги"/ -->
      <SVRVoltage descr="Напряжение дуги"/>
      <CuttingZDistance descr="Высота реза"/>
      <BurningZDistance descr="Высота пробивки"/>
      <IgnitionDistance descr="Высота поджига"/>
      <BurningFeed descr="Скорость пробивки"/>
      <BurningTime descr="Время пробивки"/>
      <Gas2CutflowRate column="1" descr="Расход защ. газа"/>
      <Gas1CutflowRate column="1" descr="Расход пл газа"/>
      <Gas2CutflowPressure column="1" descr="Давление  защ. газа"/>
      <Gas1CutflowPressure column="1" descr="Давление пл. газа"/>
      <ShieldPreflowRate column="1" descr="Расход защ газа2"/>
      <Gas1PreflowRate column="1" descr="Расход пл. газа2"/>
      <ShieldPreflowPressure column="1" descr="Давление защ. газа2"/>
      <Gas1PreflowPressure column="1" descr="Давление пл. газа2"/>
      <UnderWater column="1" visible="0" descr="Под водой"/>
      <Mixes column="1" descr="Микс газов" pos="21"/>
      <Mixes1 visible="0" descr="Микс газов1"/>
      <!-- unvisible -->
      <Mixes2 visible="0" descr="Микс газов2"/>
      <!-- unvisible -->
      <assembly descr="Сборка резака">
        <Image1/>
        <Image2/>
        <Image3/>
        <Image4/>
        <Image5/>
        <Image6/>
        <Image7/>
      </assembly>
      <!--fixed>
		    <Manufactor value="Hypertherm"/>
		    <MetallType value="Mild Steel"/>
	    </fixed-->
    </MPlasma>
  </ui-TechParams>
  <window_CXZParamUi visible="1">AdnQywABAAAAAAKoAAACcAAABP8AAAP/AAACqAAAAnAAAAT/AAAD/wAAAAAAAA==</window_CXZParamUi>
  <window_CXAdditionalOperDirectionWindow visible="1">AdnQywABAAAAAAOAAAAAcQAABMIAAAJxAAADgAAAAHEAAATCAAACcQAAAAAAAA==</window_CXAdditionalOperDirectionWindow>
</Settings>
