<?xml version='1.0' encoding='UTF-8'?>
<Settings>
  <manager freeze="0"/>
  <window_CXAdditionalOperDirectionWindow visible="1">AdnQywABAAAAAAAAAAAAAAAAASoAAAEqAAAAAAAAAAD//////////wAAAAAAAA==</window_CXAdditionalOperDirectionWindow>
  <window_CXCompileEdit visible="1">AdnQywABAAAAAAPUAAAC1AAABP8AAAP/AAAD1AAAAtQAAAT/AAAD/wAAAAAAAA==</window_CXCompileEdit>
  <window_CXDeviceView visible="1">AdnQywABAAAAAAAAAAAAAAAAAY8AAAErAAAAAAAAAAAAAAGPAAABKwAAAAAAAA==</window_CXDeviceView>
  <window_CXDeviceView1 visible="1">AdnQywABAAAAAAAAAAAAAAAAAY8AAAErAAAAAAAAAAAAAAGPAAABKwAAAAAAAA==</window_CXDeviceView1>
  <window_CXDeviceView2 visible="1">AdnQywABAAAAAAAAAAAAAAAAAY8AAAErAAAAAAAAAAAAAAGPAAABKwAAAAAAAA==</window_CXDeviceView2>
  <window_CXDeviceView3 visible="1">AdnQywABAAAAAAAAAAAAAAAAAY8AAAErAAAAAAAAAAAAAAGPAAABKwAAAAAAAA==</window_CXDeviceView3>
  <window_CXDeviceView4 visible="1">AdnQywABAAAAAAAAAAAAAAAAAY8AAAErAAAAAAAAAAAAAAGPAAABKwAAAAAAAA==</window_CXDeviceView4>
  <window_CXDeviceView5 visible="1">AdnQywABAAAAAAAAAAAAAAAAAY8AAAErAAAAAAAAAAAAAAGPAAABKwAAAAAAAA==</window_CXDeviceView5>
  <window_CXDeviceView6 visible="1">AdnQywABAAAAAAAAAAAAAAAAAY8AAAErAAAAAAAAAAAAAAGPAAABKwAAAAAAAA==</window_CXDeviceView6>
  <window_CXDeviceView7 visible="1">AdnQywABAAAAAAAAAAAAAAAAAY8AAAErAAAAAAAAAAAAAAGPAAABKwAAAAAAAA==</window_CXDeviceView7>
  <window_CXEditPathFile visible="1">AdnQywABAAAAAAOdAAAAGAAABP8AAAG0AAADnQAAABgAAAT/AAABtAAAAAAAAA==</window_CXEditPathFile>
  <window_CXFilesList visible="1">AdnQywABAAAAAABBAAAB3QAAAgoAAAP/AAAAQQAAAd0AAAIKAAAD/wAAAAAAAA==</window_CXFilesList>
  <window_CXGroupPanel visible="1">AdnQywABAAAAAABBAAAC1AAABDwAAAP/AAAAQQAAAtQAAAQ8AAAD/wAAAAAAAA==</window_CXGroupPanel>
  <window_CXGroupPanel1 visible="1">AdnQywABAAAAAAAAAAAAAAAAASoAAAEqAAAAAAAAAAD//////////wAAAAAAAA==</window_CXGroupPanel1>
  <window_CXGroupPanel2 visible="1">AdnQywABAAAAAAAAAAAAAAAAASoAAAEqAAAAAAAAAAD//////////wAAAAAAAA==</window_CXGroupPanel2>
  <window_CXGroupPanel3 visible="1">AdnQywABAAAAAAAAAAAAAAAAASoAAAEqAAAAAAAAAAD//////////wAAAAAAAA==</window_CXGroupPanel3>
  <window_CXOperDirectionWindow visible="1">AdnQywABAAAAAAAAAAAAAAAAASoAAAEqAAAAAAAAAAD//////////wAAAAAAAA==</window_CXOperDirectionWindow>
  <window_CXOperTechnology visible="1">AdnQywABAAAAAAAAAAAAAAAAAU4AAAKmAAAAAAAAAAAAAAFOAAACpgAAAAAAAA==</window_CXOperTechnology>
  <window_CXParamUi visible="1">AdnQywABAAAAAAAAAAAAAAAAAlcAAAGPAAAAAAAAAAAAAAJXAAABjwAAAAAAAA==</window_CXParamUi>
  <window_CXParametersWindow visible="1">AdnQywABAAAAAAAAAAAAAAAAASoAAAEqAAAAAAAAAAD//////////wAAAAAAAA==</window_CXParametersWindow>
  <window_CXPathWindow visible="1">AdnQywABAAAAAABBAAAC1AAAAe8AAAP/AAAAQQAAAtQAAAHvAAAD/wAAAAAAAA==</window_CXPathWindow>
  <window_CXPathWindow1 visible="1">AdnQywABAAAAAAAAAAAAAAAAASoAAAEqAAAAAAAAAAD//////////wAAAAAAAA==</window_CXPathWindow1>
  <window_CXSupportsWindow visible="1">AdnQywABAAAAAAAAAAAAAAAAAkQAAAGPAAAAAAAAAAAAAAJEAAABjwAAAAAAAA==</window_CXSupportsWindow>
  <window_CXTextParameters visible="1">AdnQywABAAAAAAAAAAAAAAAAASoAAAEqAAAAAAAAAAD//////////wAAAAAAAA==</window_CXTextParameters>
  <window_CXTitleWindow visible="1">AdnQywABAAAAAABBAAAAGAAAAx8AAAFDAAAAQQAAABgAAAMfAAABQwAAAAAAAA==</window_CXTitleWindow>
  <window_CXVirtualKeyboard visible="1">AdnQywABAAAAAABBAAAAGAAAAasAAAGLAAAAQQAAABgAAAGrAAABiwAAAAAAAA==</window_CXVirtualKeyboard>
  <window_CXVirtualKeyboardNum visible="1">AdnQywABAAAAAAAAAAAAAAAAAWoAAADEAAAAAAAAAAAAAAFqAAAAxAAAAAAAAA==</window_CXVirtualKeyboardNum>
</Settings>
